<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="soomgosusta.domain.Member" alias="Member"/>
		<typeAlias type="soomgosusta.domain.Category" alias="Category"/>
		<typeAlias type="soomgosusta.domain.Request" alias="Request"/>
		<typeAlias type="soomgosusta.domain.Question" alias="Question"/>
		<typeAlias type="soomgosusta.domain.Answer" alias="Answer"/>
		<typeAlias type="soomgosusta.domain.Expert" alias="Expert"/>
		<typeAlias type="soomgosusta.domain.Member_Information" alias="Member_Information"/>
		<typeAlias type="soomgosusta.domain.Category_Log" alias="Category_Log"/>
		<typeAlias type="soomgosusta.domain.District" alias="District"/>
		<typeAlias type="soomgosusta.domain.Expert_Information" alias="Expert_Information"/>
		<typeAlias type="soomgosusta.domain.Match" alias="Match"/>
		<typeAlias type="soomgosusta.domain.Request" alias="Request"/>
		<typeAlias type="soomgosusta.domain.Expert_Profile" alias="Expert_Profile"/>
		<typeAlias type="soomgosusta.domain.Expert_FindInfo" alias="Expert_FindInfo"/>
		<typeAlias type="soomgosusta.domain.Review" alias="Review"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="soomgosusta/mapper/Member.xml"/>
		<mapper resource="soomgosusta/mapper/Category.xml"/>
		<mapper resource="soomgosusta/mapper/Request.xml"/>
		<mapper resource="soomgosusta/mapper/Expert.xml"/>
		<mapper resource="soomgosusta/mapper/Match.xml"/>
		<mapper resource="soomgosusta/mapper/Review.xml"/>
	</mappers>
	
</configuration>
