#myPageImage{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: 50px;
}
#image{
	float: left;
	width : 350px;
}
#memberInfo{
	padding-top: 50px;
}

#AddInfoForm{
	margin-left: 430px;
	margin-top : 240px;
}

#myPage{
	margin-top : 150px;
	margin-left : 430px;
}

